header.page
  nav
    ul
      li(class=(page === 'home') ? 'active' : undefined)
        a(href='/', title='') home
      li(class=(page === 'about') ? 'active' : undefined)
        a(href='about', title='') about