extends ../public/dist/layout

block content

  section
    article
      header
        h1 Home
      section
        p Home page

  hr
  
  section
    article
      header
        h2 api example
      section
        button.api get api data
        div.result